:root {
    --color-primary: #ffac14;
    --color-secondary: #ffc200;
    --color-primary-headings: #fff;
    --color-primary-body: #fff;
    --color-secondary-headings: #ffc200;
    --color-secondary-body: #ffc200;
    --color-border: #ffc200;
}

*,
*::after, 
*::before {
    box-sizing: border-box;
}

/* Typography */
@font-face {
    font-family: 'colortube';
    src: url('/fonts/ColorTube/colortube-regular-webfont.woff2') format('woff2'),
         url('/fonts/ColorTube/colortube-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    background-color: #0f0e0d;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-primary-body);
}

h1, h2, h3 {
    color: var(--color-secondary-headings);
}

h1 {

}

h2 {

}

h3 {

}

p {

}

@media screen and (min-width: 1024px) {
    body {
        color: var(--color-primary-body);
        font-size: 1.8rem;
    }

    h1, h2, h3 {
        color: var(--color-primary-headings);
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {

    }
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

.subject:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

/* Lists */

/* Icons */

/* Buttons */
.btn {
    border-style: solid;
    border-radius: 40px;
    border-width: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 1rem 4vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background: transparent;
    color: var(--color-secondary);
    border-color: var(--color-border);
    padding: 1rem 2vw;
}

.btn--primary:hover {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #000;
    border-color: var(--color-border);
}

.btn--secondary:hover {
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Inputs */

/* Cards */
.cards-container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #6b6b6b;
    background: radial-gradient(circle farthest-corner at top left, #434343 0%, #121211 80%);
    width: 20vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 2;
}

.cards {
    border-style: solid;
    border-radius: 40px;
    border-width: 3px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.5rem 1.5rem;
    outline: 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.8;
    transition: 0.3s;
}

.cards:hover {
    background: #787878;
}

.cards-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
            line-clamp: 8; 
    -webkit-box-orient: vertical;
}

.cards--secondary {
    background: transparent;
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.cards--secondary h1 {
    color: var(--color-secondary);
    margin: 0;
    font-size: 2.2rem;
    line-height: 1;
}

.cards--secondary h2 {
    color: var(--color-secondary);
    margin: 0;
    font-size: 1.2rem;
}

.btn-container {
    display: flex;
    overflow: scroll;
}

.btn-container .btn {
    font-size: 0.95rem;
    margin: 0 0.5rem;
    margin-left: 0;
    padding: 0.5rem 1.5rem;
}

.btn-container .btn--primary {
    padding-left: 30px;
    padding-right: 30px;
}

/* Main-Content */
.main-container {
    margin-top: 70px;
    width: 80vw;
    height: calc(100vh - 70px);
    overflow: scroll;
    overflow-x: hidden;
}

.background {
    background-image: url(/images/gold_flower_3_flipped.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0px;
    width: 80vw;
    height: 100vh;
    z-index: -1;
}

.main-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5%;
    width: 80%;
    line-height: 0.5;
}

.main-content h2 {
    color: var(--color-primary);
}

.main-content .links-container a {
    color: var(--color-primary);
}

.main-body {
    padding: 5px;
    line-height: 1.5;
    word-spacing: 2px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.8);
}

.links-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-container-main .btn{
    font-size: 1.5rem;
    margin: 1rem 1rem;
}

.picture-container img {
    max-width: 100%;
    margin-top: 5%;
}

@media screen and (min-width: 768px) {
    
}

/* Navigation */
.mobile-container {
    background-color: #555;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .topnav {
    background-color: #333;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #myLinks {
    width: 100vw;
  }

  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #myLinks a:hover {
    background-color: #ddd;
    color: black;
  }

@media screen and (min-width: 768px) {
    .mobile-container {
        background-color: transparent;
        position: fixed;
        right: unset;
        height: 70px;
        width: 100vw;
        border-bottom: 0.5px solid var(--color-border);
        z-index: 2;
    }

    .topnav {
        background-color: transparent;
    }

    .topnav #myLinks {
        display: flex;
    }

    .topnav a {
        color: var(--color-primary);
        padding: 0;
        padding-top: 22px;
        padding-left: 90px;
        font-size: 17px;
        display: flex;
      }

    #myLinks {
        width: unset;
    }
    
    .topnav a.icon {
        display: none;
    }
    
    #myLinks a:hover {
        background-color: unset;
        color: #fff;
    }
}