:root {
    --color-primary: #ffac14;
    --color-secondary: #ffc200;
    --color-primary-headings: #fff;
    --color-primary-body: #fff;
    --color-secondary-headings: #ffc200;
    --color-secondary-body: #ffc200;
    --color-border: #ffc200;
}

*,
*::after, 
*::before {
    box-sizing: border-box;
}

/* Typography */
@font-face {
    font-family: 'colortube';
    src: url('/fonts/ColorTube/colortube-regular-webfont.woff2') format('woff2'),
         url('/fonts/ColorTube/colortube-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-primary-body);
}

h1, h2, h3 {
    color: var(--color-secondary-headings);
}

h1 {
    font-size: 3.5rem;
}

@media screen and (min-width: 1024px) {
    body {
        color: var(--color-primary-body);
        font-size: 1.8rem;
    }

    h1, h2, h3 {
        color: var(--color-primary-headings);
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}

/* Buttons */
.btn {
    border-style: solid;
    border-radius: 40px;
    border-width: 2.5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 1rem 0.5vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background: transparent;
    color: var(--color-secondary);
    border-color: var(--color-border);
    padding: 1rem 2vw;
}

.btn--primary:hover {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #000;
    border-color: var(--color-border);
}

.btn--secondary:hover {
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
        border-width: 5px;
        padding: 1rem 4vw;
    }
}

/* Steps */
.steps-container {
    position: absolute;
    bottom: 0;
}

.steps {
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.steps h1 {
    font-size: 2.6rem;
    margin: 0;
    color: black;
}

.steps p {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    color: #000;
}

.badge {
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background: #FD746C;
    border-radius: 50%;
}

.steps-next {
    display: none;
}

/* Navigation */
.mobile-container {
    background-color: #555;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .topnav {
    background-color: #333;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #myLinks {
    width: 100vw;
  }

  .topnav a.icon {
    background: transparent;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }

  #myLinks a:hover {
    background-color: #ddd;
    color: black;
  }

@media screen and (min-width: 768px) {
    .mobile-container {
        background-color: transparent;
        right: unset;
        height: 70px;
        width: 100vw;
        border-bottom: 0.5px solid var(--color-border);
        z-index: 2;
    }

    .topnav {
        background-color: transparent;
    }

    .topnav #myLinks {
        display: flex;
    }

    .topnav a {
        color: var(--color-primary);
        padding: 0;
        padding-top: 22px;
        margin-left: 90px;
        display: flex;
      }

    #myLinks {
        width: unset;
    }
    
    .topnav a.icon {
        display: none;
        position: unset;
    }
    
    #myLinks a:hover {
        background-color: unset;
        color: #fff;
    }
}

/* Main */
main {
    margin-top: 70px;
}

main h1{
    color: blue;
}