<div class="cards cards--secondary">
  <h1>Some Title</h1>
  <h2>The Subject</h2>
  <p class="cards-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ducimus, quas
    ipsam laboriosam corporis eaque vero sit nulla inventore accusamus!
  </p>
  <div class="btn-container">
    <button class="btn btn--secondary">Button</button>
    <button class="btn btn--secondary">Some Other Word</button>
  </div>
</div>
<div class="cards cards--secondary">
  <h1>Some Title</h1>
  <h2>The Subject</h2>
  <p class="cards-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aliquid
    harum possimus perferendis earum cupiditate. Dolore, officiis repellat. Eius
    expedita, explicabo tempora reiciendis libero aspernatur cum dignissimos
    odio aliquid assumenda odit beatae doloremque vero excepturi laborum aut
    temporibus! Autem doloribus illo dolorem illum voluptate quas, laboriosam
    voluptas modi! Placeat, pariatur.
  </p>
</div>
