<section class="steps-container">
  <div class="steps steps-current">
    <h1>Create a Discord account</h1>
    <span class="badge">#1</span>
    <p>
      So the first step is to create a Discord account if you do not already
      have one. This link will direct you to the Discord page. Make sure to
      verify you account as this will be a crucial step in the process.
    </p>
  </div>
  <div class="steps steps-next">
    <h1>Title</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
      laudantium, enim perferendis sequi, reprehenderit dolorem totam at quae
      iusto adipisci quam, a doloremque? Distinctio ex tenetur quod ab suscipit
      eos.
    </p>
    <span class="badge">2</span>
  </div>
</section>
